
#fixedTitle {
  text-shadow: 2px 2px black;

}

#fixedNames {
  text-shadow: 2px 2px black;
}


#container {
  position: fixed;
  background-color: rgba(75,75,75,0.75);
  margin: auto;
  padding-bottom: 10px;
}

svg {
  border: 0px solid black;
  border-radius:50%;
  background-color: #ffff33;
  left: 0;
  top: 150px;
}

.subunit {
  stroke: #ffff33;
  fill: black;
}



body {
  background-color: black;
  color: white;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
}

/*a { text-decoration: none; color: #ffffff; }*/
a:hover { text-decoration: underline; }

.footer {
  text-transform: uppercase;
  font-weight: bolder;
  text-align: left;
  letter-spacing: 1.5px;
  text-decoration: none;
  position:fixed;
  top:5px;
  left:5px;
  z-index:1;
}

#codeLink a {
  position: fixed;
  left: 15px;
  top: 15px;
  margin: 0;
  text-decoration: none;
  color: white;
}

#codeLink a:hover {
  text-decoration: underline;
}

ul {
  margin: 0;
  text-align: center;
}

li {
  display: inline-block;
  vertical-align: top;
}

img {
  vertical-align:middle;
  margin-right: 5px;
  margin-top: 5px;
}

#countries_list {
  display: none;
  z-index: -1;

}
